.background {
  background: #e9e9e9 !important;    
}

.presentation-container {
    position: relative; height: 400px;
}

.presentation-button {
  position: relative; 
  top:40px;
}

.progress {
  height: 20px !important;  
  color: #222 !important;
  text-align: left;  
}
.progress span {
  padding-left: 10px;
}

.facebook_color {
  background-color: #3B5998 !important;
}

.btn_color {
  background-color: #80a962 !important;  
}

.btn_disabled {
  background-color: #c5c5c5 !important;
  color: gray !important;
}

.loading_div i {
  color: #fff;
  font-size: 4em;
  margin-top: 30%;
}

.navbar_invest {
  background: #80a962;
  height: 80ox;
}

.logo_left {  
  width: 150px;
  height: 100%;
}

.logo_left img {  
  width: 25px;
  margin-top: 1px;  
  margin-left: 15px;
}

.logo_right {  
  width: 150px;
  height: 100%;

}

.logo_right img {
  width: 120px;
  margin-top: 15px;  
  margin-left: 15px;
}

.canvas {
  width: 100%;
  height: calc(100% - 56px);
  position: fixed;  
}

.logo_view {
  width: 100%;  
  height: 220px;
  text-align: center;
}

.logo_view img { 
  width: 150px;
  margin-top: 20px;
}

.frase_login {
  width: 100%;  
  height: 60px;
  text-align: center;  
}

.frase_login label { 
  font-size: 26px;
  line-height: 26px;
  color: #666;
}

.aluno_input {
  width: 100%;
  height: calc(100% - 360px);  
  padding: 40px; 
  
}

.aluno_input label {
  font-size: 18px;
  color: #666;  
  margin-left: 0px;
}

.inp_login {
  width: 100% !important;  
  height: 60px !important;
  padding-left: 15px !important;  
  background: #fff !important;
  border: 1px solid #c1c1c1 !important;
}

.login_btn {
  width: 100%;
  height: 80px;  
  text-align: center;
}

.pergunta_mod {
  width: 100%;
  height: 100px;  
  padding-top: 20px !important;
  padding-left: 15px;
}

.pergunta_mod label {
  font-size: 1.8em;
  color: #666;  
}

.resposta_mod {
  width: 100%;
  height: calc(100% - 100px);    
}

.option_mod {  
  height: 200px;
}

.btn_mod {
   width: 200px;
   height: 100px;
   border-radius: 6px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !important;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
   color: #fff;
   font-size: 2.2em;
   line-height: 1.3em;
   padding: 10px 20px;
   text-align: center;
   left: 50%;
   margin-left: -100px;
   margin-top: 50px;
}

.canvas_fluid {
  width: 100%;
  height: 100%;
  position: fixed;  
}

.three_center {
  width: 100%;  
  height: calc(100% - 220px);    
  padding: 15px;
}

.text_top {
  width: 100%;
  height: 140px;
  font-size: 24px;
  padding: 15px;    
}

.option_selected {
  background: #80a962 !important;
  color: #fff;
}

.option_four {
  border: 1px solid #c1c1c1;
  height: 200px;
  border-radius: 6px;
  text-align: center;
  margin: 0px !important;
}

.option_four img {
  width: 60px;
  margin-top: 40px;
}

.option_four span {
  text-align: left;
  margin-top: 40px;
}

.option_four:hover { 
  background: rgba(0, 0, 0, 0.1)
}

.five_content {
  width: 100%;
  height: calc(100% - 70px);    
  padding: 15px;
}

.five_content label {
  font-size: 26px;
  color: #666;  
  margin-top: 10px;  
}
.five_content div img {
  position: relative;
  width: 150px;  
  left: 50%;  
  margin-left: -75px;
  padding: 10px;
}

.four_content {
  width: 100%;
  height: calc(100% - 65px);    
  padding: 15px;  
}

.img_resposta {
  width: 100%;
  height: 140px;
  text-align: center;  
}

.img_resposta img {
  width: 80px;
  margin-top: 10px;
  
}

.item_text {
  width: 100%;
  height: 160px;    
  overflow: auto;
}

.item_text label{ 
  font-size: 20px;
  color: #666;
  line-height: 26px;

}

.txt_area {
  width: 100%;
  height: 250px;
  background: #fff;
  border: 1px solid #c1c1c1;
}

@media (max-width: 575px) { 
  
 }

@media (max-width: 767px) { 
  
 }

@media (max-width: 991px) { 
  
 }

@media (max-width: 1199px) { 
  
 }


      