html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 100%;
}

.banner,
.banner_bg {
    min-height: 100%;
    height: 100%;
}

span.green {
    color: #00c8aa;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,
li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #15364b;
    font-weight: 300;
    line-height: 160%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

ul {
    list-style: none;
}

p {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    color: #5f6f81;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

strong {
    font-weight: 500;
}

a,
a strong {
    color: #3acfef;
    transition: all 0.25s ease-in-out;
}

.a:hover,
a strong:hover {
    color: #00c8aa;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

.splash {  
  background: #6ab344;
  height: 1200px;
  margin-top: -100px;
  text-align: center;  
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px; 
  color: #fff; 
  padding-top: 20%;
  width: 100%;  
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
  color: #fff;
}

section.setlr-head {
    padding: 2rem 1rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section h2 {
    color: #15364b;
    font-size: 187.5%;
    line-height: 1.4;
    padding-bottom: 40px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal.modal-wide .modal-dialog {
    max-width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
    text-align: center;
}

.contact-pop button.close {
    outline: none;
}

.g-recaptcha {
    display: inline-block;
    text-align: center;
}

.modal-backdrop {
    background-color: rgba(11, 38, 116, 0.6);
}

#contact-us-modal .modal-header {
    border-bottom: 0;
    text-align: center;
}

.contact-pop label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 0.25rem;
}

.contact-pop input,
.contact-pop textarea {
    background: #f0f5f7;
    font-weight: 400;
    color: #00c8aa;
    outline: none;
    padding: 15px;
    border: 1px solid #f0f5f7;
}

.contact-pop input:focus,
.contact-pop textarea:focus {
    background: #f0f5f7;
    font-weight: 400;
    color: #00c8aa;
    outline: none;
}

.contact-pop input::-webkit-input-placeholder,
.contact-pop textarea::-webkit-input-placeholder {
    color: #afb8be;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.contact-pop h4 {
    color: #00c8aa;
    font-size: 150%;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 1rem;
}

.contact-pop input[type="submit"] {
    text-align: center;
    outline: none;
    padding: 20px 10%;
    background: #00c8aa;
    font-weight: 400;
    color: #fafafa;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 90px;
    text-decoration: none;
    border: solid 12px #bff1ea;
    margin-bottom: 2rem;
}

.contact-pop input[type="submit"]:hover {
    font-weight: 500;
    background-color: #3acfef;
    transition: all 0.25s ease-in-out;
}

.contact-pop input[type="submit"]:active .contact-pop input[type="submit"]:focus {
    outline: none;
}

p.form-required {
    font-weight: 700;
    font-size: 14px;
    color: #00c8aa;
    padding-bottom: 1rem;
}

ul.list-unstyled li {
    padding-top: 0.5rem;
    color: #fd2088;
    font-size: 12px;
    font-weight: 700;
}

.contact-pop .has-danger .form-control {
    border-color: #fd2088;
}

.setlr-head {
    height: auto;
    width: 100%;
    background: url("../resources/images/svg/stars.svg") repeat, #00c8aa;
    background-size: 15rem 15rem;
    background-position: center 0;
    color: #fafafa;
    position: relative;
}

.clouds {
    position: absolute;
    background-image: url("../resources/images/svg/clouds-small.svg");
    background-repeat: repeat-x;
    background-position: left bottom;
    height: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.header a {
    display: inline-block;
}

header .logo img {
    height: auto;
    width: 100%;
    max-width: 150px;
    display: inline-block;
}

.setlr-head .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
    padding: 1.3em 1em;
}

.setlr-head .nav-link:hover {
    color: #ffd652;
}

header h2,
header p {
    color: #fafafa;
}

header .header-img {
    padding: 1rem 0;
}

header .header-img img {
    width: 100%;
}

.herotxt {
    text-align: center;
}

.herotxt h2 {
    line-height: 1;
    padding-bottom: 20px;
}

.herotxt p {
    font-size: 1.3rem;
    padding-bottom: 0;
}

.herotxt span.green {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a.get_start {
    margin: 3rem 0;
    outline: none;
    padding: 1em 2em;
    background: #00c8aa;
    font-weight: 500;
    color: #fafafa;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 90px;
    text-decoration: none;
    border: solid 12px #FFF;
}

a.get_start:focus {
    outline: none;
}

a.get_start:hover {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    background-color: #6ab344;
    transition: all 0.25s ease-in-out;
}

.texts {
    margin-top: 2rem;
    width: 100%;
    display: inline-block;
    align-self: center;
}

.texts a.get_start {
    margin-bottom: 0;
}

.notebook-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 4rem auto 2rem;
    display: inline-block;
}

.notebook-container img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 48%;
}

.video-container video {
    position: absolute;
    top: 6.5%;
    left: 12.1%;
    display: inline-block;
    vertical-align: baseline;
}
.video-container img {
    position: absolute;
    top: 7.9%;
    left: 12.5%;
    display: inline-block;
    vertical-align: baseline;
}

.youtubeGG {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.youtubeGG:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
}

.youtubecontent {
    position: relative;
    z-index: 0;
    top: 50%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-top: -28.125%;
}

.youtubecontent iframe,
.youtubecontent object,
.youtubecontent embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.howtotranslate {
    background: #fafafa;
}

.howtotranslate {
    overflow-x: hidden;
}

.howtotranslate .flexslider {
    background: transparent;
    border: none;
}

.howtotranslate .flex-direction-nav a {
    font-size: 0;
}

.howtotranslate .flex-direction-nav a:before,
.howtotranslate .flex-direction-nav a:after {
    display: none;
    content: 'none'
}

.howtotranslate .flex-direction-nav a {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    text-shadow: none;
}

.howtotranslate .flex-prev {
    background: url(../images/svg/arrow-left.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.howtotranslate .flex-next {
    background: url(../images/svg/arrow-right.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.flex-control-paging li a {
    width: 15px;
    height: 15px;
    background: #00c8aa;
    background: rgba(0, 200, 170, 0.3);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.flex-control-paging li a.flex-active {
    background: #00c8aa;
    background: rgba(0, 200, 170, 1);
    cursor: default;
}

.flex-control-paging li a:hover {
    background: #00c8aa;
    background: rgba(0, 200, 170, 0.7);
}

.flex-control-nav li {
    margin: 0 15px;
    display: inline-block;
    zoom: 1;
}

.flexslider figure img {
    margin-bottom: 2rem;
}

.slidercontrols figure {
    display: block;
}

.howtotranslate .slidercontrols img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.howtotranslate .slidercontrols img.h-q {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.howtotranslate .slidercontrols img.s-m {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.flexslider h2::after {
    background: #15364b;
    content: "";
    display: block;
    width: 80px;
    padding-top: 3px;
    margin: auto;
    position: relative;
    top: 15px;
}

.flexslider p {
    color: #5f6f81;
    font-size: 150%;
    line-height: 1.6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section.whatwedo,
section.pricing {
    background: #fff;
    text-align: center;
}

.whatwedo h2,
.pricing h2 {
    padding-bottom: 3rem;
}

.whatwedo p,
.pricing p {
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
}

.clientrow {
    justify-content: space-around;
}

.whatwedo .setlr-everybody {
    margin: 2rem 0;
}

.whatwedo .setlr-everybody p {
    font-size: 100%;
    line-height: 1.9;
}

.whatwedo .setlr-everybody h3 {
    font-size: 150%;
    margin-bottom: 1rem;
    color: #00c8aa;
}

.whatwedo .setlr-everybody .texts-container {
    margin: 1rem 0;
    position: relative;
    z-index: 500;
}

.whatwedo .setlr-everybody h5.big-numbers {
    position: absolute!important;
    top: 15%;
    left: 25%;
    color: #f1f2f2;
    font-size: 800%;
    line-height: 0;
    padding: 0;
    z-index: 0;
}

.clientcol {
    margin: 2rem 0;
}

.clientrow figure {
    display: inline-block;
    width: 100%;
}

.card-container {
    height: 100%;
    box-shadow: 0px 5px 30px 0px rgba(25, 48, 62, 0.09);
    border-radius: 10px;
}

.controls figure {
    height: auto;
}

.controls h3 {
    font-size: 150%;
    padding: 0 1rem 2rem 1rem;
}

.whatwedo .controls p {
    font-size: 100%;
    line-height: 1.9;
    padding: 0 2rem 2rem 2rem;
}

section.appstore {
    background: #fafafa;
}

.app-img {
    text-align: center;
    margin-bottom: 2rem;
}

.app-img img {
    width: 60%;
}

.apptxt {
    text-align: center;
}

.appstore p {
    font-size: 100%;
    line-height: 1.9;
    padding-bottom: 3rem;
}

.appbtn {
    text-align: center;
}

.storebtn img,
.playbtn img {
    display: inline-block;
    width: 60%;
    padding-bottom: 2rem;
}

.app-kicks {
    text-align: center;
}

.kicks-img {
    margin-bottom: 3rem;    
}

.app-kicks h3 {
    font-size: 140%;
    margin-bottom: 2rem;
}

.apple-big,
.google-big {
    display: inline-block;
    width: 10%;
}

.apps-stores {
    padding-bottom: 2rem;
}

.apps-stores p {
    font-weight: 700;
    color: #00c8aa;
    padding-bottom: 0.75rem;
}

.apple-big {
    margin-right: 20px;
}

.apple-big img,
.google-big img {
    height: 40px;
    width: 100%;
}

.subscribe-form-text::-webkit-input-placeholder {
    color: #00c8aa;
    font-weight: 300;
}

.subscribe-form-text:-moz-placeholder {
    color: #00c8aa;
    font-weight: 300;
}

.subscribe-form-text::-moz-placeholder {
    color: #00c8aa;
    font-weight: 300;
}

.subscribe-form-text:-ms-input-placeholder {
    color: #00c8aa;
    font-weight: 300;
}

.fields {
    text-align: center;
}

.app-kicks .get_start {
    margin: 2rem 0;
    outline: none;
    padding: 1em 2em;
    background: #00c8aa;
    font-weight: 500;
    color: #fafafa;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 90px;
    text-decoration: none;
    border: solid 12px #bff1ea;
    line-height: 1.3;
}

.app-kicks .get_start:focus,
input.subscribe-form-text {
    outline: none;
}

.app-kicks .get_start:hover {
    font-weight: 500;
    background-color: #3acfef;
    transition: all 0.25s ease-in-out;
    border: solid 12px #cef3fb;
}

.app-kicks input.subscribe-form-text {
    width: 100%;
    background-color: transparent;
    padding: 15px 25px;
    border: solid 2px #00c8aa;
    border-radius: 40px 40px;
    color: #00c8aa;
}

.app-kicks input.subscribe-form-text:focus {
    background: #cef3fb;
}

.benefits {
    padding-top: 2rem;
}

.whatwedo .benefits h3,
.pricing .benefits h3 {
    font-size: 150%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.whatwedo .benefits p {
    font-size: 100%;
    line-height: 1.9;
    border-bottom: dashed 1px rgba(95, 111, 129, 0.4);
    padding-bottom: 2rem;
}

.pricing .benefits p {
    font-size: 100%;
    line-height: 1.9;
    padding-bottom: 1rem;
}

.one-benefit img {
    padding: 2rem 0;
    width: 60%;
    margin: 0 auto;
}

.c-header__logo {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border: 0;
    font-size: 10px;
    text-shadow: none;
    color: transparent;
    background-image: url(../resources/images/svg/logo-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 175px;
    height: 54.5px;
}

section.c-team {
    background: #fff;
    text-align: center;
}

.c-team h2::after {
    background: #15364b;
    content: "";
    display: block;
    width: 80px;
    padding-top: 3px;
    margin: auto;
    position: relative;
    top: 15px;
}

.investors {
    padding-top: 3rem;
}

.investors-logos {
    padding-top: 3rem;
    text-align: center;
}

.one-logo {
    margin-bottom: 3rem;
}

.one-logo img {
    width: 50%;
}

.our-team {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.our-team img {
    width: 50%;
}

.who-is {
    font-weight: 400;
    margin-top: 1rem;
}

.who-is h3 {
    color: #00c8aa;
    font-size: 112.5%;
    padding-bottom: 1rem;
}

.who-is p {
    width: 70%;
    margin: 0 auto;
    font-size: 100%;
    padding-bottom: 1rem;
}

section.our-story {
    background: url("../images/svg/stars.svg") repeat, #3acfef;
    background-size: 15rem 15rem;
    background-position: center 0;
    text-align: center;
    border-bottom: solid 10px #fafafa;
}

.our-story h2 {
    font-size: 375%;
    color: #88e8fd;
}

.our-story .stats {
    color: #15364b;
    font-size: 300%;
    font-weight: 700;
}

.our-story .stats-desc {
    color: #fff;
    font-weight: 700;
    font-size: 87.5%;
    margin-bottom: 2rem;
    text-align: center;
}

span.c-letter__signature {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    display: block;
    opacity: .8;
    margin: 0.5em 0;
}

.greg-letter h3 {
    color: #00c8aa;
    font-size: 150%;
    margin-bottom: 2rem;
}

.greg-letter p {
    margin-bottom: 1rem;
}

.greg-letter strong {
    font-weight: 700;
}

section.blog {
    background: url("../images/svg/stars.svg") repeat, #00c8aa;
    background-size: 15rem 15rem;
    background-position: center 0;
    text-align: center;
}

.blog .container {
    margin-bottom: 1.5rem;
}

.blog h2 {
    color: #fff;
    font-size: 187.5%;
    margin-bottom: 3rem;
}

a.blog-btn {
    margin: 3rem 0;
    outline: none;
    padding: 1em 2em;
    font-weight: 500;
    color: #00c8aa;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    text-decoration: none;
    border: solid 12px #40d6bf;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

a.blog-btn:hover {
    color: #fff;
    background: #425bff;
    border: solid 12px #40d6bf;
    background-position: 0% 50%;
}

section.fees {
    background: #fafafa;
}

.fees h2 {
    padding-bottom: 3rem;
}

.fees p {
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
}

.fees img {
    width: 100%;
    margin-top: 2rem;
}

section.pricing {
    background: #fff;
}

.payment-card {
    margin: 1rem;
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(25, 48, 62, 0.06);
    border-radius: 10px;
    justify-content: center;
}

.card-content {
    padding-bottom: 2rem;
}

.benefits .payment-card h3,
.benefits .payment-card .translator-headers {
    background: #fafafa;
    padding: 1rem;
}

.benefits .payment-card .translator-headers h3 {
    padding: 0;
    line-height: 2;
}

.payment-card img {
    padding-bottom: 0.5rem;
}

.payment-card h4 {
    font-size: 375%;
    color: #00c8aa;
    line-height: 1.5;
}

.payment-card h5 {
    font-size: 120%;
    text-transform: uppercase;
}

.benefits .payment-card p {
    font-size: 150%;
    line-height: 1.2;
    padding-bottom: 0;
}

.next-level {
    background: #3acfef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.next-level {
    background: #3acfef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2rem 0;
}

.benefits .payment-card .next-level p {
    font-size: 187.5%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700!important;
}

.pricing .flexslider p {
    width: 90%;
}

.pricing .flexslider .slides img {
    width: 30%;
    display: block;
}

.custom-navigation .flex-prev,
.custom-navigation .flex-next {
    color: #fff;
}

.payment-card {
    position: relative;
    overflow: visible;
}

.custom-navigation {
    position: absolute;
    bottom: 0;
    left: 46.5%;
}

.custom-navigation a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    margin: -200px 0 0;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: #eee!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.custom-navigation .flex-prev {
    text-align: left;
    left: -120px;
}

.custom-navigation .flex-next {
    text-align: right;
    left: 120px;
}

.custom-navigation a:before {
    font-family: FontAwesome;
    content: '\f060';
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
    padding: 2px;
}

.custom-navigation a.flex-next:before {
    content: '\f061';
}

.privacy h3::after,
.ta h3::after,
.terms h3::after {
    background: #00c8aa;
    content: "";
    display: block;
    width: 40px;
    padding-top: 2px;
    position: relative;
    top: 10px;
}

.privacy h3,
.ta h3,
.terms h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.privacy a,
.ta a,
.terms a {
    font-weight: 700;
    text-decoration: none;
}

.privacy a:hover,
.ta a:hover,
.terms a:hover {
    color: #00c8aa;
}

section.thanks {
    height: auto;
    width: 100%;
    background: #fafafa;
    text-align: center;
}

.thanks .logo {
    text-align: center;
    align-self: center;
    padding-bottom: 2rem;
}

.thanks .logo img {
    width: 50%;
}

.thanks h2 {
    color: #00c8aa;
    font-size: 187.5%;
    padding-bottom: 0;
}

.thanks h2.thanks-again {
    margin-top: 2rem;
}

.thanks .email-img {
    padding: 1rem;
    text-align: center;
}

.thanks .email-img img {
    width: 15%;
}

.thanks h3 {
    color: #15364b;
    font-size: 112.5%;
    line-height: 2;
}

section.refer-friend {
    text-align: center;
    background: url("../images/svg/stars.svg") repeat, #425bff;
    background-size: 15rem 15rem;
    background-position: center 0;
}

.refer-friend h2 {
    color: #fafafa;
}

.refer-friend .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.refer-friend .form-container h4,
.refer-friend .form-container p {
    color: #fafafa;
    line-height: 1.9;
    padding-bottom: 1rem;
}

.refer-friend .form-container a {
    font-weight: 700;
    text-decoration: none;
    color: #fafafa;
}

.refer-friend .form-container a:hover {
    color: #00c8aa;
}

.refer-friend .form-container form::-webkit-input-placeholder {
    color: #c5cacf;
    font-size: 90%;
}

.refer-friend .form-container form:-moz-placeholder {
    color: #c5cacf;
    font-size: 90%;
}

.refer-friend .form-container form::-moz-placeholder {
    color: #c5cacf;
    font-size: 90%;
}

.refer-friend .form-container form:-ms-input-placeholder {
    color: #c5cacf;
    font-size: 90%;
}

.refer-friend .form-container form {
    color: #fafafa;
    padding: 1rem 2em;
    width: 100%;
}

.refer-friend .form-container form input,
.refer-friend .form-container form .refer-friend .form-container select {
    padding: 0.5em;
    font-size: 0.875em;
    font-family: inherit;
    background: #f4f4f4;
    border: 1px solid #bcc2ca;
    border-width: 0 1px 0 0;
}

.refer-friend .form-container form input:focus,
.refer-friend .form-container form select:focus {
    background: #fafafa;
    outline: 0;
}

.refer-friend .form-container form .form-field {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

.refer-friend .form-container form .form-field label {
    padding-bottom: 0.5em;
    color: #00c8aa;
    font-weight: 700;
    font-size: 0.75em;
    text-align: center;
}

.refer-friend .form-container form .form-field input,
.refer-friend .form-container form .form-field select {
    flex-grow: 1;
}

.refer-friend .form-container form .form-field label {
    border-radius: 20px;
}

.refer-friend .form-container form .form-field input[type="email"] {
    border: solid 1px #425bff;
}

.refer-friend .form-container form .form-field input[type="text"],
.refer-friend .form-container form .form-field input[type="email"] {
    width: 100%;
    border-radius: 20px;
    color: #00c8aa;
    font-size: 90%;
    font-weight: 500;
}

.refer-friend .form-container form .submit-field {
    justify-content: center;
}

.refer-friend .form-container form input[type="submit"] {
    margin-top: 2rem;
    flex: 0 1 80%;
    padding: 1rem;
    text-transform: uppercase;
    color: #fafafa;
    letter-spacing: 1px;
    font-weight: 500;
    background: #3acfef;
    border-radius: 40px;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
    border: solid 12px #4078fb;
    transition: all 0.25s ease-in-out;
}

.refer-friend .form-container form input[type="submit"]:hover {
    background: #00c8aa;
}

.form-img {
    order: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.form-img svg {
    width: 60%;
}

svg #glasses:hover {
    margin-top: -50px;
}

#glasses {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

form .row:hover .form-img svg #glasses {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}

#front-hand,
#back-hand {
    -webkit-transition: -webkit-transform .20s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

form .row:hover #front-hand,
form .row:hover #back-hand {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

header.main-header {
    background: #fafafa;
    box-shadow: 0px 3px 18px 2px rgba(25, 48, 62, 0.25);
}

.branding-cta {
    padding: 1rem 0 0.5rem 0;
    background: #fff;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
    text-align: center;
}

.nav-right-side {
    justify-content: flex-start;
}

.main-navigation .social-container {
    display: none;
}

.navbar-light .navbar-toggler {
    outline: none;
    border: none;
    color: #15364b;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 1rem;
    text-align: center;
}

.navbar-light .navbar-toggler-icon {
    background: url("../images/svg/hamburger-menu.svg") no-repeat;
    width: 50px;
    height: 29px;
    margin-left: 1rem;
}

.navbar-toggler-right {
    position: static;
    align-self: center;
    margin: 1rem;
}

.nav-item {
    padding: 1px 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 120%;
}

.nav-item:hover {
    background-color: #fafafa;
    transition: background-color 0.25s ease-in-out;
}

.dropdown.active {
    background-color: #fafafa;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: #15364b;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    background: #fff;
    padding: 2rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 700;
}

.dropdown-menu {
    text-align: left;
    list-style: none;
    background-color: transparent;
    border: none;
    min-width: 80%;
    box-shadow: none;
}

.dropdown-menu .dropdown-item {
    font-size: 100%;
    color: #15364b;
    font-weight: 700;
    padding: 1rem;
    border-bottom: solid 1px #eee;
}

.dropdown-menu .dropdown-item:hover {
    background: #f4fafd;
}

.dropdown-item.become-item {
    background: #3acfef;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-item.become-item:hover {
    background: #5dddf8;
}

.dropdown-menu a:before {
    background-repeat: no-repeat;
    background-position: 0 top;
    content: "";
    display: inline-block;
    height: 30px;
    width: 40px;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
}

.dropdown-menu a.about-icon:before {
    background-image: url("../resources/images/icons/about-us-icon.svg");
    width: 30px;
    background-position: center;
}

.dropdown-menu a.blog-icon:before {
    background-image: url("../resources/images/icons/pen-icon.svg");
    width: 25px;
    background-position: center;
    margin-left: 8px;
}

.dropdown-menu a.contact-icon:before {
    background-image: url("../resources/images/icons/contact-icon.svg");
    width: 30px;
    background-position: center;
}

.dropdown-menu a.translator-icon:before {
    background-image: url("../resources/images/icons/translator-icon.svg");
    width: 40px;
    background-position: center;
    margin-right: 10px;
}

.dropdown-menu a.apple-icon:before {
    background-image: url("../resources/images/icons/apple-icon.svg");
    width: 20px;
    background-position: center;
    margin-bottom: 5px;
    margin-left: 10px;
}

.dropdown-menu a.google-icon:before {
    background-image: url("../resources/images/icons/google-icon.svg");
    width: 20px;
    background-position: center;
    margin-left: 10px;
}

.dropdown-menu a.dev-icon:before {
    background-image: url("../resources/images/icons/web-dev.svg");
    width: 20px;
    background-position: center;
    margin-left: 10px;
    margin-bottom: 3px;
}

.dropdown-menu a.base-icon:before {
    background-image: url("../resources/images/icons/base-icon.svg");
    width: 25px;
    background-position: center;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.dropdown-menu a.terms-icon:before {
    background-image: url("../resources/images/icons/terms-icon.svg");
    width: 25px;
    background-position: center;
    margin-left: 10px;
    margin-bottom: 3px;
}

.dropdown-menu a.agree-icon:before {
    background-image: url("../resources/images/icons/agree-icon.svg");
    width: 35px;
    background-position: center;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 3px;
}

.dropdown-menu a.privacy-icon:before {
    background-image: url("../resources/images/icons/privacy-icon.svg");
    width: 30px;
    background-position: center;
    margin-left: 10px;
    margin-bottom: 3px;
}

button.become-btn,
button.my-text-btn {
    font-size: 100%;
    text-transform: uppercase;
    padding: 1.5em 1.5em 1.5em;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
    font-weight: 700;
    background: none;
}

button.become-btn {
    color: #3acfef;
    border: solid 2px #3acfef;
    margin-bottom: 1rem;
}

button.become-btn:hover,
button.become-btn:focus,
.become-btn.active {
    background: #3acfef;
    color: #fff!important;
    border: solid 2px #3acfef;
}

button.my-text-btn {
    color: #00c8aa;
    border: solid 2px #00c8aa;
}

button.my-text-btn:hover,
button.my-text-btn:focus,
.my-text-btn.active {
    color: #fff!important;
    background: #00c8aa;
}

.headers-all {
    padding: 4rem 0;
    background: url("../resources/images/svg/headers-hallo-bg.svg") repeat, #00c8aa;
    background-size: 80%;
    background-position: center center;
}

h1.headers-headline,
p.headers-description {
    color: #fff;
    padding: 0 1rem;
    max-width: 90%;
    margin: 0 auto;
}

h1.headers-headline {
    line-height: 1.4;
    font-size: 187.5%;
    font-weight: 700;
}

p.headers-description {
    font-size: 100%;
    font-weight: 300;
    margin-top: 1.5em;
    line-height: 1.6;
}

.cta-down,
.cta-small {
    text-align: left;
    background: #fff;
    box-shadow: 0px 5px 30px 0px rgba(25, 48, 62, 0.09);
    width: 100%;
    margin: 2rem auto;
    cursor: pointer;
}

.cta-down a,
.cta-small a {
    text-decoration: none;
    display: block;
}

.cta-down p,
.cta-small p {
    font-weight: 700;
    font-size: 112.5%!important;
    margin-bottom: 0;
}

.cta-down a.down-app-btn,
.cta-small a.client-btn,
.cta-small a.translator-btn {
    background: #3acfef;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 10px solid #2fc4e4;
}

.cta-small a.client-btn {
    background: #00c8aa;
    border-bottom: 10px solid #02b89d;
}

.cta-small a.translator-btn {
    background: #3acfef;
    border-bottom: 10px solid #2fc4e4;
}

.cta-small a.down-app-btn {
    padding: 0;
}

.cta-down a.down-app-btn:hover,
.cta-small a.down-app-btn:hover {
    background-color: #fd2088;
    border-bottom: 10px solid #ec1379;
    transition: all 0.25s ease-in-out;
}

.cta-down a.down-app-btn p,
.cta-small a.down-app-btn p {
    color: #fff;
}

.cta-small a.down-app-btn p {
    font-weight: 500;
}

.cta-down .down-app-txt,
.cta-small .down-app-txt {
    background: #fff;
    padding: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 10px solid #fafafa;
    font-weight: 500;
}

.pricing .benefits .cta-small p {
    padding: 1rem;
    line-height: 1.4;
    font-size: 90%!important;
}

.pricing .benefits .cta-small p.down-app-txt {
    padding-left: 2rem;
}

.social-share {
    text-align: center;
    background: #fff;
}

a.fb-share,
a.linkedin-share,
a.twitter-share,
a.pin-share,
a.google-share,
a.insta-share,
a.reddit-share,
a.tumblr-share {
    padding: 30px 0;
    margin: 30px;
}

.sharing-icons a img {
    width: auto;
    height: 20px;
}

.fb-share {
    background: #4864a4;
}

.linkedin-share {
    background: #0077B5;
}

.twitter-share {
    background: #3BB1DB;
}

.pin-share {
    background: #F36D6D;
}

.google-share {
    background: #E2543B;
}

.insta-share {
    background: #D93175;
}

.reddit-share {
    background: #ff4500;
}

.tumblr-share {
    background: #35465c;
}

.fb-share:hover,
.linkedin-share:hover,
.twitter-share:hover,
.pin-share:hover,
.google-share:hover,
.insta-share:hover,
a.reddit-share:hover,
a.tumblr-share:hover {
    filter: brightness(120%);
    -moz-transition: all .75s;
    -webkit-transition: all .75s;
    -o-transition: all .75s;
    transition: all .75s;
}

footer.footer.no-menu {
    padding-top: 0;
    
}

footer.footer {
    background: transparent;
    padding-top: 5rem;
    margin-bottom: -150px;    
}

.footer h3,
.footer p,
.footer a {
    color: #fafafa;
}

.footer a {
    outline: none;
    text-decoration: none;
}

.footer h3 {
    font-size: 112.5%;
    padding-bottom: 1rem;
}

.footer a {
    font-size: 100%;
    line-height: 2;
}

.footer a:hover {
    color: #00c8aa!important;
    transition: all 0.25s ease-in-out;
}

.footerlogo {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footerlogo img {
    width: 80%;
}

.aboutsetle {
    text-align: center;
    padding-bottom: 3rem;
}

.aboutsetle {
    font-size: 150%;
}

.footer .setlrsocial {
    background: #00c8aa;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer .setlrsocial p {
    font-size: 100%;
    font-weight: 500;
    color: #FFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.setlrsocial .social-container {
    display: block;
    align-self: center;
    text-align: center;
}

.setlrsocial ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0!important;
    padding: 0;
}

.setlrsocial ul.social-network li {
    display: inline;
    margin-left: 40px;
}

.setlrsocial ul.social-network li:first-of-type {
    margin-left: 0px;
}

.setlrsocial .social-network i:before {
    font-size: 150%;
    color: #FFF;
}

.sociallogo li {
    display: inline-block;
    width: 25%
}

.sociallogo a {
    display: inline-block;
}

.sociallogo img {
    padding-top: 10px;
    width: 60%;
}

@media screen and (min-width: 400px) {
    a.blog-btn {
        padding-right: 4em;
        background: #fff url("../images/svg/arrow-pointing-green.svg") no-repeat;
        background-size: 25px;
        background-position: 90% 50%;
    }
    .arrow-point-down {
        text-align: center;
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 568px) and (max-width: 1024px) {
    header .header-img img {
        width: 70%;
    }
    .sociallogo img {
        width: 80%;
    }
    .aboutsetle {
        text-align: left;
    }
    .form-img {
        order: 0;
    }
    .form-img svg {
        width: 80%;
    }
    .one-logo img {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .arrow-point-down {
        text-align: left;
        margin-top: 0;
    }
    .whatwedo .setlr-everybody h5.big-numbers {
        position: absolute!important;
        top: 15%;
        left: 0!important;
    }
    .setlr-head .nav-link {
        padding: 0.6em 2em;
    }
    .texts {
        width: 40%;
    }
    .notebook-container {
        margin-top: 6rem;
        width: 50%;
    }
    .menu-buttons {
        justify-content: flex-end;
        margin: 0;
    }
    button.become-btn,
    button.my-text-btn {
        padding: .75em 1em .6em;
    }
    .main-navigation {
        padding: 1rem 0;
    }
    .dropdown-menu {
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: none;
        box-shadow: 0px 10px 20px 0px rgba(25, 48, 62, 0.2);
    }
    .navbar-light .navbar-nav .nav-link {
        background: transparent;
        padding: 1rem;
    }
    .dropdown-menu .dropdown-item {
        border-bottom: none;
    }
    .nav-item:hover {
        background-color: #e2ecf0;
        transition: background-color 0.25s ease-in-out;
    }
    .dropdown.active {
        background-color: #e2ecf0;
    }
    button.my-text-btn {
        margin-left: 20px;
    }
    .headers-all {
        padding: 8rem 0;
    }
    .modal-sm {
        min-width: 500px;
        max-width: 50%;
    }
    .clouds {
        background-image: url("../resources/images/svg/clouds.svg");
        height: 55px;
        width: 100%;
    }
    section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    header .header-img {
        margin-bottom: 4rem;
    }
    h1.headers-headline,
    p.headers-description {
        max-width: 100%;
    }
    h1.headers-headline {
        font-size: 300%;
    }
    p.headers-description {
        font-size: 150%;
    }
    .herotxt {
        padding-top: 0rem;
        padding-bottom: 3rem;
        text-align: left;
    }
    .howtotranslate .flex-direction-nav a {
        display: block;
    }
    .howtotranslate .slidercontrols img {
        width: 30%;
    }
    .howtotranslate .slidercontrols img.h-q {
        width: 40%;
    }
    .howtotranslate .slidercontrols img.s-m {
        width: 30%;
    }
    .slidercontrols {
        text-align: center;
    }
    .flexslider p {
        width: 65%;
    }
    .whatwedo .setlr-everybody h3,
    .whatwedo .setlr-everybody p {
        text-align: left;
    }
    .whatwedo p,
    .pricing p {
        font-size: 130%;
        line-height: 1.8;
        font-weight: 300;
    }
    .whatwedo .controls p,
    .pricing .controls p {
        font-size: 100%;
        line-height: 1.9;
        padding: 0 3rem 3rem 3rem;
    }
    .app-img img {
        width: 100%;
    }
    .storebtn img,
    .playbtn img {
        width: 40%;
    }
    .appbtn .playbtn {
        padding-left: 5%;
    }
    .arrow {
        position: relative;
    }
    .arrow-bg {
        position: absolute;
        top: 5%;
        right: 10%;
        background: url("../resources/images/svg/arrow.svg") no-repeat;
        width: 103px;
        height: 70px;
    }
    .footerlogo {
        padding-top: 5rem;
    }
    .footer .setlrsocial {
        text-align: left;
    }
    .sociallogo {
        text-align: right;
    }
    .sociallogo img {
        width: 60%;
    }
    .aboutsetle {
        text-align: left;
        font-size: 120%;
    }
    .cta-big {
        width: 80%;
        margin: 0 auto;
        margin-top: 4rem;
    }
    .cta-down .down-app-txt {
        background: #fff url("../resources/images/svg/arrow-pointing-to-right.svg") no-repeat;
        background-size: 50px;
        background-position: 50% 90%;
    }
    .cta-down.cta-small .down-app-txt {
        background: #fff;
    }
    .clientcol {
        margin-top: 6rem;
    }
    .controls figure {
        margin-top: -100px;
    }
    .whatwedo .benefits p,
    .pricing .benefits p {
        border-bottom: none;
        text-align: left;
    }
    .whatwedo .benefits h3,
    .pricing .benefits h3 {
        text-align: left;
    }
    .one-benefit img {
        width: 100%;
    }
    .fees img {
        width: 100%;
        margin-top: 4rem;
    }
    .one-logo img {
        width: 60%;
    }
    .our-story .stats,
    .our-story .stats-desc {
        text-align: center;
    }
    .greg-letter {
        background: url("../resources/images/svg/hallo-bg.svg") repeat-y;
        background-size: 35%;
        background-position: 100%;
    }
    .headers-all {
        background-size: 40%;
    }
    .app-kicks {
        text-align: left;
    }
    .form-container form p {
        margin-bottom: 3rem;
    }
    .form-img {
        order: 0;
        text-align: right;
    }
    .form-img svg {
        width: 80%;
    }
    .thanks h2.thanks-again {
        margin-top: 2rem;
    }
    .modal.modal-wide .modal-dialog {
        max-width: 650px;
    }
    .setlrsocial .social-container {
        text-align: right;
    }
}

@media (min-width: 1024px) {
    .whatwedo .setlr-everybody {
        margin: 5rem 0;
    }
    .texts {
        width: 30%;
    }
    .notebook-container {
        width: 70%;
        min-height: 400px;
        margin-top: 3rem;
    }
    .main-navigation .social-container {
        display: block;
        align-self: center;
        text-align: right;
    }
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0!important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin-left: 40px;
    }
    ul.social-network li:first-of-type {
        margin-left: 0px;
    }
    .social-network i:before {
        font-size: 150%;
    }
    .dropdown-menu {
        min-width: 20rem;
    }
    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #00c8aa;
        transition: all 0.25s ease-in-out;
    }
    section.setlr-head {
        padding-top: 3rem;
    }
    header .header-img img {
        width: 100%;
    }
    .herotxt h2 {
        font-size: 220%;
    }
    .herotxt {
        margin-bottom: 5rem;
    }
    .footerlogo img {
        width: 60%;
    }
    .sociallogo img {
        width: 25%;
    }
    .aboutsetle {
        font-size: 100%;
    }
    .c-header__nav {
        float: right;
        font-size: .9em;
        font-weight: 700;
        letter-spacing: .1px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .cta-big .down-app-txt {
        padding-left: 8rem;
    }
    .cta-down .down-app-txt {
        background-position: 90% 50%;
    }
    .benefits {
        margin-top: 4rem;
    }
    .pricing .benefits {
        margin-top: 2rem;
    }
    .one-benefit img {
        width: 70%;
    }
    .one-benefit {
        margin-bottom: 2rem;
    }
    .headers-all {
        background-size: 20%;
    }
    .refer-friend .form-container form .form-field label {
        flex: 0 1 10em;
        padding: 1em;
        background: #00c8aa;
        color: #fafafa;
        font-weight: 700;
        font-size: 0.75em;
        text-align: center;
        border-radius: 20px 0 0 20px;
    }
    .refer-friend .form-container form .form-field input[type="text"] {
        width: 20%;
        border-radius: 0;
    }
    .refer-friend .form-container form .form-field input[type="email"] {
        width: 40%;
        border-radius: 0 20px 20px 0;
        border: none;
    }
    .form-img {
        order: 2;
        text-align: right;
    }
    .form-img svg {
        margin-top: -10rem;
        width: 80%;
    }
}

@media screen and (max-height: 575px) {
    #rc-imageselect,
    .g-recaptcha {
        text-align: center;
        transform: scale(0.66);
        -webkit-transform: scale(0.66);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.bs-example {
    margin: 20px;
}

@media screen and (min-width: 568px) {
    .navbar-light .navbar-toggler {
        text-align: right;
    }
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        margin-top: 0;
    }
    .dropdown-toggle {
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
    .whatwedo .setlr-everybody h5.big-numbers {
        position: absolute!important;
        top: 15%;
        left: 35%;
    }
}

.wiggle {
    animation-duration: 0.5s;
}

.bounce {
    -moz-animation: bounce 2s;
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
    animation-delay: 2s;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.bounce-nodelay {
    -moz-animation: nodelay 2s infinite;
    -webkit-animation: nodelay 2s infinite;
    animation: nodelay 2s infinite;
}

@-moz-keyframes nodelay {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes nodelay {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes nodelay {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow-point {
    display: block;
    color: #00c8aa;
    text-align: left;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.arrow-point.transp {
    color: transparent;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(-5px);
    }
}

.arrow-point-down {
    display: block;
    color: #00c8aa;
    -moz-animation: bounce2 2s infinite;
    -webkit-animation: bounce2 2s infinite;
    animation: bounce2 2s infinite;
}

@keyframes bounce2 {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}