.background {
  background: #003399 !important; 
  padding-top: 25px; 
}

.presentation-container {
    position: relative; height: 400px;
}

.presentation-button {
  position: relative; 
  top:40px;
}